[Unit]
Description=OULibraries oulib-celery/workerq Service Installer

[Service]
WorkingDirectory={{ celery_workerq_dir }}
ExecStart=/home/micromamba/{{ celery_workerq_user }}/envs/{{ mamba_env_name }}/bin/python /home/micromamba/{{ celery_workerq_user }}/envs/{{ mamba_env_name }}/bin/pip install -r requirements.txt --log {{ celery_workerq_log_dir }}/pip.log
User={{ celery_workerq_user }}
Type=oneshot

[Install]
WantedBy=multi-user.target
Alias=oulib-celery-workerq-installer.service
