[Unit]
Description=OULibraries oulib-celery/workerq Service

[Service]
Environment=PYTHONPATH={{ celery_workerq_dir }}
ExecStart={{ celery_workerq_dir }}/virtpy/bin/python {{ celery_workerq_dir }}/virtpy/bin/celery worker -l WARN -Q {{ celery_workerq_imports }} -n {{ celery_workerq_hostname }}
User=celery

[Install]
WantedBy=multi-user.target
Alias=oulib-celery-workerq.service
