[Unit]
Description=OULibraries oulib-celery/workerq Service

[Service]
WorkingDirectory={{ celery_workerq_dir }}
ExecStart=/home/micromamba/{{ celery_workerq_user }}/envs/{{ mamba_env_name }}/bin/python /home/micromamba/{{ celery_workerq_user }}/envs/{{ mamba_env_name }}/bin/celery worker --queues {{ celery_workerq_queuename }} --hostname {{ celery_workerq_hostname }} --logfile {{ celery_workerq_log_dir }}/{{ celery_workerq_queuename }}.log --loglevel WARNING
User={{ celery_workerq_user }}

[Install]
WantedBy=multi-user.target
Alias=oulib-celery-workerq.service
