# Allow {{ celery_adminq_user }} to start/stop/restart oulib-celery-workerq service
{{ celery_adminq_user }} ALL=NOPASSWD:/usr/bin/systemctl oulib-celery-workerq start, /usr/bin/systemctl oulib-celery-workerq stop, /usr/bin/systemctl oulib-celery-workerq restart
