# Allow {{ celery_adminq_user }} to start/stop/restart oulib-celery-workerq service
{{ celery_adminq_user }} ALL=NOPASSWD:/usr/bin/systemctl start oulib-celery-workerq, /usr/bin/systemctl stop oulib-celery-workerq, /usr/bin/systemctl restart oulib-celery-workerq

# Allow {{ celery_adminq_user }} to start oulib-celery-workerq-installer service
{{ celery_adminq_user }} ALL=NOPASSWD:/usr/bin/systemctl start oulib-celery-workerq-installer
