import os
import ssl

{% if ((celery_workerq_environ_vars is defined) and (celery_workerq_environ_vars is not none)) %}
{% for environ_var in celery_workerq_environ_vars %}
{{ environ_var.name }} = os.environ.get('{{ environ_var.name }}')
{% endfor %}
{% endif %}

appname = "{{ celery_workerq_appname }}"
BROKER_URL = '{{ celery_workerq_broker_url }}'
BROKER_USE_SSL = {
  'keyfile': 'ssl/client/key.pem',
  'certfile': 'ssl/client/cert.pem',
  'ca_certs': 'ssl/testca/cacert.pem',
  'cert_reqs': ssl.CERT_REQUIRED
}
CELERY_SEND_EVENTS = True
CELERY_TASK_RESULT_EXPIRES = None
CELERY_ACCEPT_CONTENT = ['json']
CELERY_RESULT_BACKEND = "{{ celery_workerq_result_backend }}"
CELERY_MONGODB_BACKEND_SETTINGS = {
    "database": "{{ celery_workerq_mongodb }}",
    "taskmeta_collection": "{{ celery_workerq_mongo_collection }}"
}

CELERY_IMPORTS = ({% for import in celery_workerq_imports %}"{{ import }}"{% if not loop.last %}, {% endif %}{% endfor %})
